@font-face {
    font-family: "SAP-icons";
    src: local("SAP-icons"), url("/fonts/SAP-icons.woff") format("woff"); /* available in woff, woff2 and ttf */
    font-weight: normal;
    font-style: normal;
}
